.traffic-light {
    height: 200px;
    width: 100px;
    background-color: black;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
    margin-top: 50px;
}

.traffic-light div {
    height: 60px;
    width: 60px;
    border-radius: 50%;
    margin: auto;
}

.red {
    background-color: red;
}

.yellow {
    background-color: yellow;
}

.green {
    background-color: green;
}

.light {
    height: 60px;
    width: 60px;
    cursor: pointer;
    opacity: 0.4;
}

.glow {
    box-shadow: -3px -12px 59px 15px rgba(255,255,255,1);
    opacity: 1 !important;
}